{% extends 'base-login.html' %}

{% block login-main %}
	<h1 class="reg-title">User Dashboard</h1>

	<a class="btn wide-btn clear-btn" href="{% url 'auth_password_change' %}">Change Password</a>
	<a class="btn wide-btn clear-btn" href="{% url 'usercustom_update_user' %}">Edit User Details</a>
	<a class="btn wide-btn clear-btn last" href="{% url 'auth_logout' %}">Logout</a>
{% endblock %}