{% extends 'base-login.html' %}
{% load staticfiles %}

{% block title %}Edit Settings | {% endblock %}

{% block extra-css %}
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	{% include 'fooform_js.html' %}
{% endblock %}

{% block login-main %}
	<h1>Edit Settings</h1>
	{% if not user.slack_id %}
	<p>To link your account to Minertopia slack and recieve slack alerts start a private conversation with @botface and then say: <pre>linkaccount {{ user.slack_token }}</pre></p>
	{% else %}
	<p>Your slack account is linked.  To unlink start a private conversation with @botface and then say: <pre>unlinkaccount</pre></p>
	{% endif %}

	{% include 'fooform.html' with form=form csrf_token=csrf_token button_content='Save' only %}
{% endblock %}