{% extends 'base-login.html' %}

{% block title %}User Details Updated | {% endblock %}

{% block login-main %}
	<h1>Updated</h1>
	<p class="last">Thank you.  Your details have been updated.</p>
{% endblock %}