{% extends 'blur-base.html' %}

{% block title %}Activation Failed | {% endblock %}

{% block main %}
	<div class="panel reg-panel title-panel bg-red1">
		<h1>Activation Failed</h1>
	</div>

	<div class="panel reg-panel bg-white form-panel">
		<div class="panel-pad">
			<p class="last">Activation has failed.  Your account may already be active please <a href="{% url 'auth_login' %}">login</a> or <a href="{% url 'registration_register' %}">register</a> a new account.</p>
		</div>
	</div>
{% endblock %}