{% extends 'blur-base.html' %}

{% block title %}Account Active | {% endblock %}

{% block main %}
	<div class="panel reg-panel title-panel bg-red1">
		<h1>Account Active</h1>
	</div>

	<div class="panel reg-panel bg-white form-panel">
		<div class="panel-pad">
			<p class="last">Your account is now active.</p>
		</div>
	</div>
{% endblock %}