{% extends 'base-login.html' %}
{% load staticfiles %}

{% block title %}Login | {% endblock %}

{% block extra-css %}
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	{% include 'fooform_js.html' %}
{% endblock %}

{% block login-main %}
	<h1>Sign In</h1>

	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
				please login with an account that has access.</p>
		{% else %}
			<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}

	{% include 'fooform.html' with form=form csrf_token=csrf_token button_content=button_content next=next only %}

	<p class="form-note last">
		<a href="{% url "password_reset" %}">Forgotten password?</a><br />
	</p>
{% endblock %}