{% extends 'base-login.html' %}

{% block title %}Logged Out | {% endblock %}

{% block login-main %}
	<h1>Logged Out</h1>
	<p class="last">You are now logged out.  Thanks for visiting.</p>
{% endblock %}