{% extends 'base-login.html' %}
{% load staticfiles %}

{% block title %}Set Your New Password | {% endblock %}

{% block extra-css %}
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	{% include 'fooform_js.html' %}
{% endblock %}

{% block login-main %}
	<h1>Password Reset</h1>
	{% if validlink %}
		{% include 'fooform.html' with form=form csrf_token=csrf_token button_content='Save' %}
	{% else %}
		<p class="last">The password reset link was invalid.  Please request a new <a href="{% url "auth_password_reset" %}">password reset.</a></p>
	{% endif %}
{% endblock %}