{% extends 'base-login.html' %}
{% load staticfiles %}

{% block title %}Reset Password | {% endblock %}

{% block extra-css %}
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	{% include 'fooform_js.html' %}
{% endblock %}


{% block login-main %}
	<h1>Password Reset</h1>

	<p>Forgotten your password or setting up a new account? Enter your email address below, and we'll send you an email allowing you to set it up.</p>
	{% include 'fooform.html' with form=form csrf_token=csrf_token button_content='Send' only %}
{% endblock %}