{% extends 'base-login.html' %}

{% block title %}Reset Password Email Sent | {% endblock %}

{% block login-main %}
	<h1>Email Sent</h1>
	<p>We have sent you an email. If you do not receive it within a few minutes, try resending or contact us.</p>
	<p class="last">Please note you will only recieve an email if you have a valid account with us.</p>
{% endblock %}