{% extends 'base-login.html' %}

{% block title %}Password Changed | {% endblock %}

{% block login-main %}
	<h1>Password Changed</h1>
	<p class="last">Your password has been changed successfully.</p>
{% endblock %}