{% extends 'base-login.html' %}
{% load staticfiles %}

{% block extra-css %}
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	{% include 'fooform_js.html' %}
{% endblock %}

{% block login-main %}
	<h1>Change Password</h1>

	<p>Please enter your new password twice to confirm.</p>

	{% include 'fooform.html' with form=form csrf_token=csrf_token button_content='Save' only %}
{% endblock %}