{% extends 'base-login.html' %}
{% load staticfiles %}

{% block title %}Login | {% endblock %}

{% block login-main %}
	<h1>Password Reset</h1>
	<p class="last">Your password has been set. Would you like to <a href="{% url 'login' %}">login</a>?</p>
{% endblock %}