{% extends 'base-login.html' %}

{% block title %}Registered | {% endblock %}

{% block login-main %}
<h1>Registered</h1>
	<p>
	All accounts require manual activation.  We will send you an email once your account has been activated and is ready to use.
	</p>
{% endblock %}