{% extends 'blur-base.html' %}

{% block title %}Email Confirmation Sent | {% endblock %}

{% block main %}
	<div class="panel reg-panel title-panel bg-red1">
		<h1>Sign In</h1>
	</div>
	<div class="panel reg-panel bg-white form-panel">
		<div class="panel-pad">
			<p class="last">We have sent you an email for verification. Follow the link provided to finalize the signup process. If you do not receive it within a few minutes please <a href="/contact/">contact us.</a></p>
		</div>
	</div>
{% endblock %}