{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />

	<!--

	Minerup

	-->

	<title>{% block title %}{% endblock %}Minerup</title>
	<meta name="author" content="quantra" />

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-gb" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i|Zilla+Slab:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" />

	{% block extra-css %}{% endblock %}
	{% block css %}
		<link rel="stylesheet" href="{% static 'css/slicknav.css' %}" type="text/css" />

		<link rel="StyleSheet" href="{% static 'css/main.css' %}" type="text/css" />

		<link rel="stylesheet" media="screen and (min-width: 1480px)" href="{% static 'css/wide.css' %}" type="text/css" />
		<link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 1479px)" href="{% static 'css/desktop.css' %}" type="text/css" />
		<link rel="stylesheet" media="screen and (min-width: 768px) and (max-width:1024px)" href="{% static 'css/tablet.css' %}" type="text/css" />
		<link rel="stylesheet" media="screen and (max-width:767px)" href="{% static 'css/mobile.css' %}" type="text/css" />
	{% endblock %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{% block js %}
		<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.slicknav.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/exec_menu.js' %}"></script>
	{% endblock %}
	{% block extra-js %}{% endblock %}

	{% block head %}{% endblock %}
</head>

<body class="body">
{% block body %}
	<div class="site-wrapper">
		<div class="nav header">
			<h1 class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" /></a></h1>beta
			{% if request.user.is_authenticated %}
				{% include 'menu.html' with is_admin=request.user.is_admin only %}
			{% endif %}
		</div>

		<div class="main-content">
			<div class="{% block page-class %}page{% endblock %}">
				{% if messages %}
					{% include 'messages.html' with messages=messages only %}
				{% endif %}

				{% block main %}{% endblock %}
				<div class="expander"></div>
			</div>
		</div>

		<div class="footer">
			<div class="page">
				<p class="left">
					Vincent Coleman &copy;{% now "Y" %}<br />
					<a href="{% url 'faq' %}">FAQ</a>
				</p>
				<p class="right"><a href="http://minertopia.org" target="_blank">minertopia.minerup</a></p>
				<div class="expander"></div>
			</div>
		</div>

	</div>
{% endblock %}
</body>

</html>
