{% extends 'base.html' %}

{% block main %}
	<div class="page faq">
		<div class="panel full">
			<h1>FAQ</h1>

			<h2>What is beta?</h2>
			<p>Currently the only users are beta testers.  Things might not work properly and beta testers are responsible for reporting issues as well as providing feedback.</p>

			<h2>What is miner.up?</h2>
			<p>An open source monitoring and alerting solution from <a href="https://minertopia.org" target="_blank">MinerTopia.</a></p>

			<h2>How does it work?</h2>
			<p>You configure your wallets and pools and we scan the pool api to find your workers.  If they can't be found you are alerted.</p>

			<h2>What else does it do?</h2>
			<p>Nothing.  There are plans to support mining os api's, collect accounting data and hashrate info and more!</p>

			<h2>Sometimes I get an alert but my worker is still mining?</h2>
			<p>Sometimes we can't get data from an api, if this means we can't find your worker we alert you.  In the future we want to make this more accurate.</p>

			<h2>Dwarf pool?</h2>
			<p>Due to a bug in dwarf pool api you must have recieved at least one payout before we can get data to show your rig online.</p>

			<h2>Something is broken?</h2>
			<p>Please check the <a href="https://bitbucket.org/Quantra/minerup/issues" target="_blank">issue tracker</a> and add new issues.</p>

			<h2>I want to help?</h2>
			<p>Join the <a href="http://slack.minertopia.org/" target="_blank">MinerTopia Slack</a> and ask for @quantra or @coryvmcs1.  You can also check out <a href="https://bitbucket.org/Quantra/minerup/" target="_blank">miner.up on bitbucket.</a></p>

		</div>
	</div>
{% endblock %}