<div class="touch-menu"></div>
<div class="menu">
	<ul id="menu">
		<li><a href="/">Home</a></li>
		<li><a href="{% url 'faq' %}">FAQ</a></li>
		<li><a href="{% url 'password_change' %}">Change Password</a></li>
		<li><a href="{% url 'logout' %}">Logout</a></li>
		{% if is_admin %}
			<li><a href="/admin/">Admin Site</a></li>
		{% endif %}
	</ul>
</div>
