<div class="panel full messages-panel {% for m in messages %}{% if m.tags %}{{ m.tags }} {% endif %}{% endfor %}">
	<ul class="messages fa-ul">
		{% for m in messages %}
			<li class="message {% if m.tags %}{{ m.tags }}{% endif %}">
				{% if 'info' in m.tags %}<i class="fa fa-list fa-info"></i>{% endif %}
				{% if 'warning' in m.tags %}<i class="fa fa-list fa-exclamation-triangle"></i>{% endif %}
				{% if 'error' in m.tags %}<i class="fa fa-list fa-exclamation-circle"></i>{% endif %}
				{% if 'success' in m.tags %}<i class="fa fa-list fa-check-circle"></i>{% endif %}
				{{ m }}
			</li>
		{% endfor %}
	</ul>
</div>