{% extends 'foofields/field_base.html' %}

{% block main %}
	{{ field.errors }}
	<label class="checkbox" for="id_{{ field.html_name }}">
		{{ field.label }}{{ field }}<span></span> {{ field.help_text }}
	</label>
{% endblock %}

{#{% block help_text %}{% endblock %}#}