/*****************
RESPONSIVE CLASSES
*****************/

.desktop-only {
	display:block;
}
.no-desktop {
	display:none;
}
.deskclear {
	clear:left;
}

/* Indicator */
/*.header .logo {*/
	/*background: #000;*/
/*}*/


/*******************
STANDARD TEXT STYLES
*******************/

/******************
STRUCTURAL ELEMENTS
******************/


/**********
BASE LAYOUT
**********/
.page {
	padding:0 90px;
}

.grid-item {
	width:25%;
}

/* Menu */

/* Footer */

/****************
TEMPLATE SPECIFIC
****************/
