/***********
FONT IMPORTS
***********/


/************
CSS OVERRIDES
************/

html, body {
	margin:0;
	padding:0;
	width:100%;
	height: 100%;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #dcdcd9;
}
body {
	background: #0d0b1f;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	border: 0;
}

section, article, header, footer, nav, aside {
	display: block;
}

input {
	opacity:1;    /* Stops ipad fading out inputs */
}

ul {
	margin:0;
	padding:0;
}
li {
	padding: 0;
	margin: 0 0 5px 0;
}
input, button {
	font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size:16px;
	outline:none;
}


/**********************
BASE STRUCTURAL CLASSES
**********************/

/* Blocks */
.wideblock {
	width:100%;
}
.block {
	/*width:90%;*/
	margin:0 auto;
}



/* Clear fix */
.expander {
	clear:both !important;
	margin:0 !important;
	padding:0 !important;
	height:0 !important;
	float:none !important;
	border:none !important;
}

/* Vertical centering */
.cenrel {
	position: relative;
}
.cenabs {
	display:block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.centab {
	display: table;
	width: 100%;
	height: 100%;

}
.cencell {
	display: table-cell;
	vertical-align: middle;
	width:100%;
}
.cencontent {
	margin: 0 auto;
}

/* Hiding */
.hidden {
	display:none;
}


/*****************
RESPONSIVE CLASSES
*****************/

.wide-only, .desktop-only, .tablet-only, .mobile-only {
	display:none;
}


/*******************
STANDARD TEXT STYLES
*******************/

h1 {
	font-size: 34px;
	line-height: 100%;
	padding: 0;
	margin: 0;
	font-weight:900;
	font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 24px;
	padding: 0;
	margin:0;
	line-height:100%;
	font-weight:700;
}

h3, h4, h5, p.big {
	font-size: 24px;
	line-height: 100%;
	padding: 0;
	margin: 0;
	font-weight:400;
	font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
}

p, h6, label, textarea, li {
	line-height: 140%;
	padding: 0 0 30px 0;
	margin: 0;
	font-weight:400;
}

label {
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	outline:none;
	color:#20c20e;
}

/******
COLOURS
******/
.blue-bg {background-color:#0d86b3;}
.green1-bg {background-color:#a6cbc1;}
.green2-bg {background-color:#70a6a7;}
.green3-bg {background-color:#b6bd52;}
.red-bg {background-color:#c7555c;}

/******
BUTTONS
******/

.btn, a.btn {
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	font-weight:700;
	height:60px;
	line-height:60px;
	padding: 0;
	position:relative;
	width:100%;
	max-width:100%;
	text-align: center;
	color:#fff;
	border:none;
	outline:none;
	cursor:pointer;
}

.border-btn, a.border-btn {
	background-color: #fff;
	color:#111;
	border:1px solid #e1e4e6;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/****
LISTS
****/

/* Standard lists */
ul {
	padding-left:0;
}
li {
	padding: 0 0 10px 0;
	line-height:100%;
	list-style: none;
}


/**************
COMMON ELEMENTS
**************/

/* cover hover */
.cover {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	z-index:2;

	-webkit-transition: opacity 0.35s;
	-moz-transition: opacity 0.35s;
	-ms-transition: opacity 0.35s;
	-o-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.cover:hover, .touch .cover {
	opacity: 1;
}

.cover.revcover {
	opacity:1;
}
.cover.revcover:hover, .touch .cover.revcover {
	opacity:0;
}



/* Icons */
a .fa {
	color: #dcdcd9;
}
a .remove-icon {
	color:#e50e28;
}

a .power-icon {
	color:#20c20e;
}

a .checkbox-bg {
	color:#e1e4e6;
}
a .checkbox-check {
	margin-top:-1px;
	color:#111;
}

/************
PANELS COMMON
************/

/* Spacing */
.panel {
	margin-bottom:60px;
	overflow: hidden;
}
.panel.no-margin {
	margin:0;
}

/* Structure TIP: place panels in panels to make columns of panels =D */
.panel.full {
	width:100%;
}
.panel.half {
	width:46%;
}
.panel.left {
	float:left;
}
.panel.right {
	float:right;
}
.panel.clear {
	float:none;
	clear:both;
}
.panel.central {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

/* Panel titles */
.panel h1 {
	text-transform: uppercase;
	margin-bottom:30px;
}
.panel h1 i {
	float:right;
}

/* Panel buttons */
.panel-buttons .btn {
	margin-top:5px;
}
.panel-buttons .btn:first-child {
	margin-top:30px;
}

/*****
PANELS
*****/

/* Auth Panels */
a.auth-link {
	text-transform: uppercase;
	font-size: 12px;
	color: #96999b;
	margin-top:20px;
	display:inline-block;
}

/* Buttons Panel (dashboard) */
.buttons-panel .panel-buttons .btn {
	height:75px;
	line-height:75px;
	margin-top:20px;
	font-size:24px;
	font-weight:400;
}
.buttons-panel .panel-buttons .btn:first-child {
	margin-top:0;
}

/* Title panel */

.title-panel h1 {
	font-weight:700;
	margin-bottom:0;
}
.title-panel h2 {
	font-weight:400;
}

/* Table panel (all tables) */
table {
	/*table-layout: fixed;*/
	border-spacing:0;
	width:100%;
}

td, th, th.row {
	border-top:none;
	border-bottom:1px solid #e1e4e6;
	padding:15px 30px 15px 0;
	text-align: left;
}

th {
	border-top:1px solid #e1e4e6;
	padding:20px 30px 20px 0;
	color:#b6bd52;
}

table .align-right {
	text-align: right;
	padding-right:0;
}

/* fixed width table cols */
table .remove {
	width:60px;
}
table .wb_licence {
	width:220px;
}
table .edit {
	width:32px;
}
table .date {
	width:90px;
}

/* Pagination */
.pagination {
	width:100%;
	height:16px;
	position:relative;
	text-align:center;
	text-transform:uppercase;
}
.pagination a {
	position: absolute;
	top:0;
	left:0;
	display:block;
	height:16px;
	line-height:16px;
}
.pagination a.pag-next {
	left:auto;
	right:0;
}

/* Messages panel */
.messages-panel {
	border:2px solid #0d86b3;
	padding:10px 0;
}
ul.messages {
	text-align:center;
	margin:0 30px;
}
ul.messages li.message {
	padding:0;
	margin:10px 0;
}
ul.messages li.message .fa {
	margin-right:15px;
}
ul.messages li.message.info { color:#0d86b3; }
ul.messages li.message.error { color:#c7555c; }
ul.messages li.message.warning { color: #c77861; }
ul.messages li.message.success { color:#b6bd52; }

.messages-panel.info { border-color: #0d86b3}
.messages-panel.success { border-color: #b6bd52}
.messages-panel.warning { border-color: #c77861}
.messages-panel.error { border-color: #c7555c}


/**********
BASE LAYOUT
**********/
.page {
	padding:0 60px;
}
.site-wrapper {
	min-height:100%;
	position: relative;
}
.main-content {
	padding-bottom:95px;
}

.nav {
	height:100px;
}
.menu {
	display:none;
}
.touch-menu {
	display:block;
}

h1.logo {
	padding:0;
	margin:30px 20px;
	float:left;
}
.logo img {
	height: 37px;
}

.footer {
	width:100%;
	border-top:1px solid #20c20e;
	height:94px;
	position: absolute;
	bottom:0;
	left:0;
}

.footer p {
	margin:50px 0;
	font-size: 16px;
	color: #dcdcd9;
	padding:0;
}
.footer .left {
	float:left;
}
.footer .right {
	float:right;
	text-align:right;
}

.footer a {
	/*color:#111;*/
}

/****************
TEMPLATE SPECIFIC
****************/

/* Workers list */

.worker-list-page {
	padding:0 0 0 20px;
	margin:0;
}

.grid-item {
	width:20%;
	float:left;
}

.worker {
	background-color: #0d0b1f;
	display:block;
	color:#dcdcd9;
	padding:15px;
	border:2px solid;
	margin:0 20px 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.worker.online {
	border-color: #20c20e;
}
.worker.failing {
	border-color: rgba(255, 126, 36, 0.65);
}
.worker.offline {
	border-color: rgb(229, 14, 40);
}

.worker h1 {
	font-size:30px;
	margin-bottom:3px;
}
.worker h2 {
	font-size:14px;
	word-break: break-all;
}
.worker h3 {
	height:24px;
	margin:10px 0;
}
.worker p {
	height:16px;
	margin:0;
	padding:0;
	line-height:100%;
}

.worker span.label {
	font-weight: 600;
	/*width: 80px;*/
	display: inline-block;
}
.worker span.value {
	font-style: italic;
}

.offline .latency, .failing .latency {
	color: lightgrey;
}

.spark-line-wrapper {
	height:16px;
	margin-bottom:3px;
}

.disabled .worker { border-color: #40403f !important; }
.disabled * { color: #40403f !important; }

.panel.pools, .panel.settings {
	/*margin-right:30px;*/
}

a.confirm-remove-modal {
	position: absolute;
	top:7px;
	right:28px;
}

a.toggle-worker {
	position: absolute;
	bottom:28px;
	right:28px;
}

/************
PAGE SPECIFIC
************/