/*****************
RESPONSIVE CLASSES
*****************/

.mobile-only {
	display:block;
}
.no-mobile {
	display:none !important;
}
.mobclear {
	clear:left;
}

/* Indicator */
/*.header .logo {*/
/*background: beige;*/
/*}*/


/*******************
STANDARD TEXT STYLES
*******************/

/*****
PANELS
*****/

/* Structural */
.panel.half, .panel.central {
	width:100%;
}
.panel.left, .panel.right {
	float:none;
}


/**************
COMMON ELEMENTS
**************/



/**********
BASE LAYOUT
**********/
.page {
	padding:0 30px;
}

.grid-item {
	width:100%;
}


.footer .left, .footer .right {
	float:none;
	text-align:center;
}
.footer p.left {
	padding:30px 0 15px 0;
}
.footer p.right {
	padding:0 0 30px 0;
}


/****************
TEMPLATE SPECIFIC
****************/



/*******
SLICKNAV
*******/

.slicknav_nav {
	padding:12px 30px;
}


.formset-row {
	margin:0 0 10px 0;
}

.formset-row .form-row {
	width:100%;
	margin: 0 0 5px 0;
}