.ms-container{
	width: 100%;
	margin-bottom:20px;
}

.ms-container:after{
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	min-height: 0;
	visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
	/*background: #fff;*/
	color: #dcdcd9;
	float: left;
	width: 45%;
}
.ms-container .ms-selection{
	float: right;
}

.ms-container .ms-list{
	-webkit-transition: border linear 0.2s;
	-moz-transition: border linear 0.2s;
	-ms-transition: border linear 0.2s;
	-o-transition: border linear 0.2s;
	transition: border linear 0.2s;
	border: 1px solid #20c20e;
	position: relative;
	height: 400px;
	padding: 0;
	overflow-y: auto;
}

.ms-container .ms-list.ms-focus{
	/*border-color: #0d86b3;*/
	outline: 0;
	outline: thin dotted \9;
}

.ms-container ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.ms-container .ms-optgroup-container{
	width: 100%;
}

.ms-container .ms-optgroup-label{
	margin: 0;
	padding: 5px 0px 0px 5px;
	cursor: pointer;
	color: #dcdcd9;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
	border-bottom: 1px #20c20e solid;
	padding: 10px 20px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
	cursor: pointer;
	color: #20c20e;
	text-decoration: none;
	/*background-color: #0d86b3;*/
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
	background-color: #eee;
	color: #aaa;
	cursor: text;
}


/* Search */

input.search-input {
	border:1px solid #20c20e;
	width:100%;
	height:60px;
	line-height:60px;
	padding:0 30px;
	margin:0 0 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.search-wrapper {
	position:relative;
}
.search-wrapper::before {
	position:absolute;
	font-family: 'FontAwesome';
	color:#dcdcd9;
	top:20px;
	right:20px;
	content: "\f002";
	font-size: 20px;
}

/* Header */

.ms-container h3 {
	text-transform:uppercase;
	margin-bottom:10px;
}

/* Font awesome exchange icon */
.ms-container {
	position: relative;
}
.ms-container::before {
	position:absolute;
	font-family: 'FontAwesome';
	color:#dcdcd9;
	top:50%;
	left:50%;
	margin-top:-15px;
	margin-left:-15px;
	content: "\f0ec";
	font-size: 30px;
}