/*****************
RESPONSIVE CLASSES
*****************/

.tablet-only {
	display:block;
}
.no-tablet {
	display:none;
}
.tabclear {
	clear:left;
}

/* Indicator */
/*.header .logo {*/
/*background: orangered;*/
/*}*/


/*******************
STANDARD TEXT STYLES
*******************/

/*****
PANELS
*****/

/* Structural */
.panel.half {
	width:100%;
}
.panel.central {
	width:75%;
}
.panel.left, .panel.right {
	float:none;
}

/**********
BASE LAYOUT
**********/
.page {
	padding:0 60px;
}


.grid-item {
	width:33.333%;
}

/**************
COMMON ELEMENTS
**************/


/****************
TEMPLATE SPECIFIC
****************/


.formset-row .form-row {
	width:49.5%;
}