/**********************
BASE STRUCTURAL CLASSES
**********************/

.page {
	width:1360px;
	margin:0 auto;
	padding:0;
}


/**************
COMMON ELEMENTS
**************/



/****************
TEMPLATE SPECIFIC
****************/

/* Blog */
ul.articles-featured {
	display:block !important;
	height:auto !important;
}

/* About */
.about-content {
	padding-bottom:90px;
}

/* Credits */
.credits-wrapper {
	padding-bottom:60px;
}