{% extends 'base.html' %}
{% load staticfiles %}

{% block extra-css %}
	<link rel="stylesheet" href="{% static 'css/multi-select.css' %}" />
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	<script type="text/javascript" src="{% static 'js/jquery.quicksearch.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.multi-select.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/exec_multi-select.js' %}"></script>
{% endblock %}

{% block title %}Choose pools | {% endblock %}

{% block main %}
	<div class="panel form-panel full">
		<h1>Choose pools</h1>
		<p>Please only select the pools you use.  You must choose at least one pool!</p>
		<p>If the pool you use isn't listed please contact us on Minertopia slack so we can add it.</p>
		<form action="" class="fooform std-form" method="post">
			{% csrf_token %}
			<div class="">
				{{ form.pools }}
			</div>
			<div class="form-row submit-row panel-buttons">
				<button id="" name="" type="submit" class="">Save</button>
			</div>
		</form>
	</div>
{% endblock %}