{% extends 'base.html' %}
{% load staticfiles %}
{% load fooforms_tags %}

{% block extra-css %}
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	{% include 'fooform_js.html' %}
	<script type="application/javascript">var def_email = '{{ request.user.email }}';</script>
	<script src="{% static 'js/wallet_formset.js' %}" type="application/javascript"></script>
{% endblock %}

{% block title %}Edit wallets | {% endblock %}

{% block main %}
	<div class="panel form-panel full">
		<h1>Edit wallets</h1>
		<p>Configure the wallet and email addresses you use. We don't use these email addresses to contact you but they do need to be the same as those you use with your mining software.</p>
		<p>Keep clicking add another and configure all your wallets on this page.</p>
		{% include 'fooformset.html' with formset=formset csrf_token=csrf_token button_content='Save' only %}
	</div>
{% endblock %}