{% extends 'base.html' %}
{% load static %}

{% block extra-css %}
	<link href="{% static 'css/jAlert-v3.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra-js %}
	<script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/livestamp.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/worker_list.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jAlert-v3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jAlert-functions.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/exec_jalert.js' %}"></script>
{% endblock %}

{% block page-class %}worker-list-page{% endblock %}

{% block main %}
	{% if user.wallets.exists %}
		<div class="workers-list-page grid">

			{% for w in workers %}
				<div class="grid-item worker-wrapper worker-id{{ w.id }} {{ w.disabled|yesno:"disabled," }}" id="{{ w.id }}"
				     data-last_test_date="{{ w.last_tested|date:'c' }}"
				     data-status_num="{{ w.status }}"
				     data-pool="{{ w.last_pool.url }}"
				     data-wallet="{{ w.last_wallet.address }}">

					<div class="worker {{ w.get_status_display|lower }}" id="{{ w.id }}">
					<span>
						<a class="confirm-remove-modal" href="#">
							<i class="fa fa-times remove-icon"></i>
						</a>

						<form class="hidden" method="post" action="{% url 'miners_delete_worker' %}">
							{% csrf_token %}
							<input name="worker_id" type="hidden" value="{{ w.id }}">
						</form>
					</span>

						<a href="#" class="toggle-worker"><i class="fa fa-power-off power-icon"></i></a>

						<h1>{{ w.name }}</h1>
						<h2 class="pool">{{ w.last_pool.url }}</h2>
						<h2 class="wallet">{{ w.last_wallet.address }}</h2>
						<h3 class="status">
						<span class="label">
							{% if w.disabled %}Disabled{% else %}{{ w.get_status_display }}{% endif %}
						</span>
						</h3>

						<p class="last-test">
							<span class="label">Tested</span> <span class="value fadetime" data-timestamp="{{ w.last_tested|date:'c' }}"></span>
						</p>

						{% if w.status >= 30 %}
							<p class="uptime timing">
								<span class="label" >Uptime</span> <span class="value">{{ w.up_since|timesince }}</span>
							</p>
						{% else %}
							<p class="downtime timing">
								<span class="label">Downtime</span> <span class="value">{{ w.failure_started|timesince }}</span>
							</p>
						{% endif %}

						<p class="hashrate">
							<span class="label">Hashrate</span> <span class="value">{{ w.last_hashrate|floatformat:2 }} Mh/s</span>
						</p>

						<div class="last-test-date hidden">{{ w.last_tested|date:'c' }}</div>
						<div class="status-num hidden">{{ w.status }}</div>
					</div>

				</div>
			{% endfor %}

		</div>
		<div class="panel full">
			<p>
				{% if not workers %}Now add your workers.<br />{% endif %}
				<a href="{% url 'miners_add_worker' %}"><i class="fa fa-plus"></i>  Add worker</a>
			</p>
		</div>
	{% endif %}

	<div class="panel half left">
		<div class="panel half left settings">
			<h1>Settings</h1>
			<ul>
				<li>{{ user.email }}</li>
				<li>
					Email notifications
					{{ user.email_alerts|yesno:'<i class="fa fa-check"></i>,<i class="fa fa-times"></i>'|safe }}
				</li>
				<li>
					Slack account linked {% if user.slack_id %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
				</li>
				<li>
					Slack notifications
					{{ user.slack_alerts|yesno:'<i class="fa fa-check"></i>,<i class="fa fa-times"></i>'|safe }}
				</li>
			</ul>
			<p><a href="{% url 'usercustom_update_user' %}"><i class="fa fa-pencil"></i>  Edit settings</a></p>
		</div>

		<div class="panel half right pools">
			<h1>Pools</h1>
			<ul>
				{% for p in user.pools.all %}
					<li>{{ p }}</li>
					{% empty %}
					<li>To get started choose the pools you mine on from the link below.</li>
				{% endfor %}
			</ul>
			<p><a href="{% url 'miners_edit_pools' %}"><i class="fa fa-pencil"></i>  Edit pools</a></p>
		</div>

		<div class="expander"></div>
	</div>

	<div class="panel half right">
		{% if user.pools.exists %}
			<div class="panel half left wallets">
				<h1>Wallets</h1>
				<ul>
					{% for w in wallets %}
						<li>
							{{ w.coin }}<br />
							{{ w }}<br />
							{{ w.email }}
						</li>
						{% empty %}
						<li>Now configure the wallet/email addresses you use on those pools.</li>
					{% endfor %}
				</ul>
				<p><a href="{% url 'miners_edit_wallets' %}"><i class="fa fa-pencil"></i>  Edit wallets</a></p>
			</div>
		{% endif %}

		<div class="expander"></div>
	</div>
{% endblock %}