{% extends 'base-login.html' %}

{% block title %}Add Worker | {% endblock %}

{% block extra-css %}
	{% include 'fooform_css.html' %}
{% endblock %}

{% block extra-js %}
	{% include 'fooform_js.html' %}
{% endblock %}

{% block login-main %}
	<h1>Add Worker</h1>
	<p>The worker name is case sensitive and must match the actual worker name you use for your rig.</p>
	{% include 'fooform.html' with form=form csrf_token=csrf_token %}
{% endblock %}