{% load staticfiles %}

<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/exec_fooform.js' %}"></script>
