{% load fooforms_tags %}

<form class="fooform fooformset {% firstof form_class 'std-form' %}" action="" method="post" {% if formset.is_multipart %}enctype="multipart/form-data"{% endif %}>
	{% csrf_token %}

	{{ formset.management_form }}

	<div class="formset-wrapper">
		{% for form in formset %}
			<div class="formset-row">
				{{ form.non_field_errors }}

				{% for field in form %}
					{% include field|field_template with field=field only %}
				{% endfor %}

				<div class="expander"></div>
			</div>
		{% endfor %}
	</div>

	<p>
		<a href="#" class="add-another"><i class="fa fa-plus"></i> Add another</a>
	</p>

	<div class="form-row submit-row">
		<button type="submit">{% firstof button_content 'Submit' %}</button>
	</div>

</form>

<div class="hidden emptyform">
	<div class="formset-row formset-new">
		{% for field in formset.empty_form %}
			{% include field|field_template with field=field only %}
		{% endfor %}
		<div class="expander"></div>
	</div>
</div>