{% load fooforms_tags %}

<form class="fooform {% firstof form_class 'std-form' %}" action="" method="post" {% if formset.is_multipart %}enctype="multipart/form-data"{% endif %}>
	{% csrf_token %}

	{{ form.non_field_errors }}

	{% for field in form %}
		{% include field|field_template with field=field only %}
	{% endfor %}

	{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

	<div class="form-row submit-row">
		<button type="submit">{% firstof button_content 'Submit' %}</button>
	</div>

</form>