/* Rows & Borders */
.form-row {
	min-height:55px;
	margin-bottom:10px;
	border:1px solid #20c20e;
}
.form-row.submit-row {
	border:none;
}

/* Place Holders */
span.placeholder {
	color: #dcdcd9;
	font-size:16px;
	font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
	line-height:100%;
}
::-webkit-input-placeholder {
	color: #dcdcd9;
	font-size:16px;
	font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
	line-height:100%;
}
input:-moz-placeholder, textarea:-moz-placeholder {
	color: #dcdcd9;
	font-size:16px;
	font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
	line-height:100%;
}

/* Inputs */
input {
	width: 100%;
	max-width: 100%;
	height: 55px;
	color: #dcdcd9;
	background: #0d0b1f;
	border: none;
	padding: 5px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	font-size: 14px;
	
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}


/* Textarea */
textarea {
	display:block;
	width: 100%;
	max-width: 100%;
	height: 300px;
	max-height: 300px;
	resize: none;
	font-size: 14px;
	color: #4f4f4f;
	border: none;
	background: #fff;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/* Buttons */
.fooform button {
	display: block;
	margin: 5px 0 0 0;
	width: 100%;
	height: 60px;
	border: 1px solid #20c20e;
	padding: 15px;
	color: #fff;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	background: #0d0b1f;
	text-transform: uppercase;
	font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

/* Check boxes */
label.checkbox {
	display:block;
	padding:14px 16px 18px 46px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	color: #dcdcd9;
	line-height:23px;
	cursor:pointer;
}

label.checkbox input {
	display:none;
}

label.checkbox span {
	position: absolute;
	top:16px;
	left:15px;
}
label.checkbox span::before {
	font-size:22px;
	color: #dcdcd9;
	font-family: 'FontAwesome';
	content:'\f096';
	padding-right:3px;
	margin-right:-3px;
}

label.checkbox input:checked + span::before {
	content:'\f046';
	padding-right:0;
	color:#e50e28;
}

/* Selects */
select {
	visibility: hidden;  /* fouc */
}

 /* Outlines */
.select2 span {
	outline:none;
}
 /* Heights */
.select2-container .select2-selection--single {
	height:55px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height:55px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#dcdcd9;
}
 /* Arrow */
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height:55px;
	right:15px;
	top:-2px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border:none;
	margin-top:-9px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b::before {
	font-size:23px;
	color: #dcdcd9;
	font-family: 'FontAwesome';
	content:'\f107';
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
	content:'\f106';
}
 /* Top level Border / Radius */
.select2-container--default .select2-selection--single {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:none;
	background:none;
}

 /* Drop down border / radius + bg */
.select2-container--open .select2-dropdown--below {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.select2-dropdown {
	border:1px solid #20c20e;
	background-color: #0d0b1f;
}
.select2-results__option {
	padding:15px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background:none;
	color:#20c20e;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background:none;
}

.select2-container--open .select2-dropdown {
	top:1px;
}

/* form errors (Django) */
ul.errorlist {
	background-color: darkred;
	padding:5px;
}
ul.errorlist li {
	color:#fff;
	margin-top:3px;
	padding:0 0 0 3px;
	list-style: none;
}
ul.errorlist li:first-child {
	margin-top:0;
}

ul.errorlist li::before {
	font-family: 'FontAwesome';
	content:'\f06a';
	padding-right:7px;
}

/* formsets */

.formset-row {
	margin:0 0 10px -0.5%;
}

.formset-row .form-row {
	float: left;
	width:24.5%;
	margin:0 0 5px 0.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.formset-row .form-row:first-child {
	/*margin-left:0;*/
}